<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="SpaceSurgeon" connectionString="Data Source=DESKTOP-E6P74F1\FCOSKUN; Initial Catalog=spacesurgeondb; Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>